.container {
  padding: 0 34px 0 44px;
  font-weight: bold;
  display: flex;
  align-items: center;
  min-height: 44px;
  background-color: #f8f9fa;
  border: solid 1px #eaecf0;
  max-width: 285px;
}
