.row {
  font-size: 0.85em;
}

.lastRow {
  border-top: 2px solid #5ad7ef;
}

.title {
  word-wrap: break-word;
  font-weight: 600;
  vertical-align: super;
  padding-top: 5px;
}

.info {
  word-wrap: break-word;
  padding-top: 5px;
}
