.container {
  padding: 4px 24px;
  margin-top: 16px;
  border: solid #aaa 1px;
  background-color: #f9f9f9;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.elt {
  display: flex;
}

.img {
  width: 24px;
  height: 24px;
}

.text {
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9em;
}
